@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 1.3rem;
}
html::-webkit-scrollbar-track {
  background: #F6F3EF;
}
html::-webkit-scrollbar-thumb {
  background: #d0d0d0;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 4000;
  border-bottom: 5px solid #F6F3EF;
}
.header .header-center {
  background: #ffffff;
}
.header .header-center .header-center-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 6%;
}
.header .header-center .header-center-items .logos-redes-sociales .bx {
  font-size: 2.5rem;
  margin: 0 0.5rem 0 0.5rem;
  color: #444444;
}
.header .header-center .header-center-items .logos-redes-sociales .bx:hover {
  color: #C39E2E;
}
.header .header-center .navbar a {
  display: inline-block;
  color: #555555;
  font-size: 1.8rem;
  font-weight: 400;
  margin-left: 2rem;
}
.header .header-center .navbar a:hover {
  color: #C39E2E;
}

#menu-btn {
  font-size: 3rem;
  cursor: pointer;
  display: none;
}

.home {
  padding: 0 10%;
  margin-top: 9.1rem;
  background: #F8F2FC;
}
.home .slide {
  min-height: 100vh;
  background-size: cover !important;
  background-position: 0rem 10% !important;
  padding: 0;
  display: flex;
  align-items: center;
}
.home .slide .content {
  width: 50%;
  position: absolute;
  top: 40%;
  left: 35%;
  transform: translate(-50%, -50%);
}
.home .slide .content h3 {
  font-size: 3.5rem;
  color: #C39E2E;
  display: block;
  font-weight: 500;
  letter-spacing: 1rem;
  font-weight: 600;
}

.btn {
  padding: 2rem 4rem 2rem 4rem;
  background: rgba(248, 242, 252, 0.2);
  color: #333333;
  cursor: pointer;
  font-size: 1.7rem;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #C39E2E;
  font-weight: 500;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  background: #ffffff;
  color: #C39E2E;
}

.swiper-pagination-bullet {
  height: 2rem;
  width: 2rem;
  background: rgb(108, 108, 108);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #E0C97A;
}

.seccion-datos {
  width: 100%;
}
.seccion-datos .color-container {
  padding: 2rem 6% 0 6%;
  background: #F6F3EF;
}
.seccion-datos .color-container .container-datos {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.seccion-datos .color-container .container-datos .item-datos {
  padding: 1rem 0 4rem 0;
}
.seccion-datos .color-container .container-datos .item-datos i {
  color: #555555;
  font-size: 3.5rem;
}
.seccion-datos .color-container .container-datos p {
  font-size: 2.7rem;
  margin-top: 0.5rem;
  color: #555555;
  font-family: "Oleo Script Swash Caps", cursive;
}

.seccion-datos-dos {
  padding-top: 4rem;
  width: 100%;
}
.seccion-datos-dos .color-container-dos {
  width: 100%;
  background: #F6F3EF;
  padding-top: 3rem;
}
.seccion-datos-dos .color-container-dos .container-datos-dos {
  padding: 0 6%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.seccion-datos-dos .color-container-dos .container-datos-dos .item-datos-dos {
  position: relative;
  margin-bottom: 3.5rem;
}
.seccion-datos-dos .color-container-dos .container-datos-dos .item-datos-dos img {
  height: 395px;
  width: 326px;
}
.seccion-datos-dos .color-container-dos .container-datos-dos .item-datos-dos h2 {
  position: absolute;
  bottom: 26%;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  font-size: 2rem;
  height: 19rem;
  width: 80%;
  padding: 2rem 0;
  line-height: 3.5rem;
  letter-spacing: 0.6rem;
  font-size: 2rem;
  color: #333333;
}
.seccion-datos-dos .color-container-dos .container-datos-dos .item-datos-dos h2 span {
  font-family: "Oleo Script Swash Caps", cursive;
  font-weight: 300;
  color: #333333;
  letter-spacing: 0.3rem;
  font-size: 2.2rem;
}
.seccion-datos-dos .color-container-dos .container-datos-dos .item-datos-dos h2 a {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  background: #fff;
  padding: 0.5rem 5rem;
  color: #333333;
  border: 1px solid #C39E2E;
  font-weight: 400;
}
.seccion-datos-dos .color-container-dos .container-datos-dos .item-datos-dos h2 a:hover {
  color: #C39E2E;
  font-size: 1.6rem;
}

.swiper2 {
  padding: 5rem 4rem;
}
.swiper2 .swiper-wrapper .img__item .gg {
  position: relative;
  overflow: hidden;
}

.swiper-slide {
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide .container__item__hover {
  padding: 0 6%;
  position: absolute;
  background: rgba(21, 21, 21, 0.5490196078);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10rem;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(100%);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.swiper-slide .container__item__hover a {
  text-decoration: underline;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
}

html .img__item:hover .container__item__hover {
  transform: translateX(0%);
}

.swiper-slide img {
  display: block;
  width: 35rem;
  height: 35rem;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
    scroll-padding: 7rem;
  }
  .header .header-center .header-center-items figure img {
    height: 10rem;
    width: 20rem;
  }
  .swiper-slide img {
    width: 25rem;
    height: 25rem;
  }
}
@media (max-width: 900px) {
  .home .slide .content {
    width: 60%;
  }
}
@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
    color: #444444;
    /*rotar la X */
  }
  #menu-btn.fa-times {
    transform: rotate(180deg);
  }
  .home {
    margin-top: 9.5rem;
  }
  .header .header-center .header-center-items {
    flex-direction: row;
    padding: 0.5rem 6%;
  }
  .header .header-center .header-center-items .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    /* desaparece menu responsivo */
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    /* aparece menu responsivo */
  }
  .header .header-center .header-center-items .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .header-center .header-center-items .navbar a {
    display: block;
    font-size: 2rem;
    color: #000;
    padding: 2.5rem 5.1%;
    border-bottom: 1px solid #E0C97A;
  }
  .header .header-center .header-center-items .navbar a:hover {
    color: #C39E2E;
  }
  .header .header-center .header-center-items .logos-redes-sociales .bx {
    font-size: 3rem;
  }
}
@media (max-width: 740px) {
  .seccion-datos-dos .color-container-dos .container-datos-dos .item-datos-dos {
    margin: 0 auto;
    margin-bottom: 3.5rem;
  }
  .seccion-datos-dos .color-container-dos .container-datos-dos .item-datos-dos img {
    height: 450px;
    width: 381px;
  }
  .swiper-slide img {
    width: 23rem;
    height: 23rem;
  }
}
@media (max-width: 700px) {
  .home {
    padding: 0;
  }
}
@media (max-width: 620px) {
  .swiper-slide img {
    width: 18rem;
    height: 18rem;
  }
}
@media (max-width: 550px) {
  .home .home-slider .swiper-wrapper .slide {
    min-height: 77vh;
    background-position: 50% 90% !important;
  }
  .seccion-datos .color-container .container-datos p {
    font-size: 2.2rem;
  }
  .swiper-slide img {
    width: 17rem;
    height: 17rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  html .header .header-center .header-center-items figure img {
    height: 8rem;
    width: 17rem;
  }
  html .header .header-center .header-center-items #menu-btn {
    margin-right: 1.5rem;
  }
  html .home .slide .content h3 {
    font-size: 3.2rem;
  }
  .seccion-datos-dos .color-container-dos .container-datos-dos .item-datos-dos img {
    height: 370px;
    width: 301px;
  }
  .swiper-slide img {
    width: 20rem;
    height: 20rem;
  }
  .swiper2 .container__item__hover {
    height: 4rem;
  }
  .swiper2 .container__item__hover a {
    font-size: 1rem;
  }
}
@media (max-width: 370px) {
  .swiper-slide img {
    width: 19rem;
    height: 19rem;
  }
}/*# sourceMappingURL=style.css.map */